*{margin:0px;vertical-align:top;}
body{font-family:Questrial,Arial;}
a{text-decoration:none;color:inherit;}
header{height:65px;}
	#logzone{background:rgb(216, 216, 216);position: absolute;right: 10px;top:2px;padding: 10px;cursor:pointer;}
		.login{text-transform:uppercase;}
		.logout{font-size:12px;text-align:center}
		.logo{  font-size: 30px;
  margin: 0px 11px 0px 32px;}
nav{position:absolute;height:600px;width: 140px;padding-left: 20px;display:inline-block;background:white;top: 55px;z-index: 35;}
	h1,h3{text-align:center;text-transform:uppercase;}
	nav h3{padding:10px 5px;background:rgb(216, 216, 216);margin: 10px;font-size: 15px;text-align: center;cursor:pointer;} 
		.eval {background:rgb(69,231,194);} 
		
	footer{position: absolute;bottom: 2px;}
	#fleche{border: 9px solid transparent;width: 0px;position: absolute;left: 130px;}
	.flechebas{border: 9px solid transparent;width: 0px;position: absolute;left: 65px;border-top:9px solid rgb(69,231,194);margin-top: -10px;}
	.flechedroite{border: 12px solid transparent;width: 0px;position: absolute;left: 140px;border-left: 9px solid rgb(216, 216, 216);top: 12px;}

#popup{position: fixed;top: 0px;height: 700px;width: 100%;
background: rgba(0,0,0,0.8);z-index: 48;display:none;}
	.exit{font-size:100px;float: right;cursor:pointer;z-index: 50;}
	#inpopup{background:white;margin:5%;width:90%;overflow:auto;}
		
		#inpopup .titre {height:100px;}
		#inpopup h3{font-size: 36px;padding-top: 33px;}
		
		#inpopup .contenu{padding:10px 10px 100px 10px;}
		/* #inpopup div{margin:10px;} */
		#inpopup h6{background:rgb(96,96,96);font-size:20px;color:white;padding: 8px;display:inline-block;margin:5px;cursor:pointer;vertical-align:middle;width:300px;text-align:center;text-transform:uppercase;}
		#inpopup .awsm,#inpopup input{vertical-align:middle;}
		.itemchx .awsm,#chitem .awsm{float: right;}
		
		#inpopup form{display:inline-block;}
		#chitem{  display: inline-block;  margin-left: 40px;  width: 30%;}
		
#corps{padding-left:160px;min-height:600px;  width: 100%;}	
	.classe{background:rgb(236,76,76);}
	#titre h3{overflow:hidden;display:none;padding:10px 0px;font-size:46px;} 
	#classe,#evalchx{cursor:pointer;}
	#corps.evaluer h3,#corps.synthese h3,#corps.correction h3{display:block;}
	#titre .awsm{margin:0px 20px;}
	
	
	
	body h1{text-align:center;font-size:46px;margin: 0px;
  padding: 10px;}
	
	#contenu{background:white;padding: 5px;margin: 10px;}
		h4{display:inline-block;margin: 5px;padding: 5px;}
		.boutons h4{background:rgb(216, 216, 216);cursor:pointer;}	
		.boutons h4.actif{color:grey;}
		
.awsm,option span{font-family: FontAwesome;text-align:center;font-weight: normal;}	
.awsm:hover{opacity:0.8;}
	


/*******************Evaluer*************/
	
	
	#cases{background:white;}
	.evaluer article{display:inline-block;border:1px solid black;height: 130px;width: 140px;font-size:23px;text-align:center;cursor:pointer;}
	[draggable] { -moz-user-select: none; -khtml-user-select: none;
    -webkit-user-select: none; user-select: none;}
	.evaluer .perso{font-size: 33px;}
	.evaluer .nom{height:40px;font-size: 20px;word-wrap: break-word;hyphens: auto;word-break: break-all;-webkit-hyphens: auto;-moz-hyphens: auto;	  -ms-hyphens: auto;-o-hyphens: auto;}
	.evaluer .taxo{margin:4px 0px;}
	.evaluer .taxo span{margin:0px 5px;}
	.evaluer .prctg{font-size: 23px;font-weight: bold;}

	.optaff{background:rgb(255,233,111);}
	
	
	.inputresult article{width:250px;display: inline-block;height: 135px;border:1px solid rgb(117,154,198);padding:0px 1px;}
		.inputresult h5{margin:0px;font-size: 15px;text-align: center;background:rgb(69,231,194);}
		.inputresult aside{height: 95px;}
		 .inputresult aside div:nth-child(2){height:15px;font-style:italic;}
		.inputresult aside .note{float:right;}
		.inputresult aside div {margin: 2px;font-size: 12px;height:26px;overflow:hidden;}
		.input div{display:inline-block;width:71px;border-radius:30px;padding:5px;text-align: center;cursor:pointer;margin:1px;font-size: 25px;
		-webkit-transition:all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;}
		.optaffchx input{width:230px;}
			.input div:hover,.input div.actif{color:white;}
			.input div:nth-child(1) {background: #00ff00;}
			.input div:nth-child(2) {background: #FF9C19;}
			.input div:nth-child(3) {background: #ff0000;}
		
			
/*******************Evaluations*************/	
	.evals,.neweval{background: rgb(216,216,216);}

	.evals .titre{width:244px;overflow:hidden;display:inline-block;}
	
	
/*******************Classes*************/	
	.classes{background: rgb(216,216,216);}
	
	.items h4,.classes h4,.evals h4{margin: 0px 80px 0px 36px;}
	
	.items .awsm,.classes .awsm{cursor:pointer;}
	
	li{list-style: none;cursor:pointer;padding-top: 6px;border-bottom:1px solid white;
	-webkit-transition:all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;}
		li:hover{border-bottom:1px solid rgb(117, 154, 198);}
		li .del,li .edit{float: right;margin-left: 20px;}
		ul ul{display:none;margin-left: 200px;padding: 0px;}
		#popup ul ul{margin-left: 20px;}
		.classes ul ul{-webkit-column-count: 2;-webkit-column-gap: 50px;-moz-column-count: 2;-moz-column-gap: 50px;}
	li .awsm:hover{color:rgb(117, 154, 198);}
	li.actif{color:rgb(117, 154, 198);}
	li .mdp{visibility:hidden;margin: 10px;
font-style: italic;}
	li:hover .mdp{visibility:visible;}
	
	.classes ul ul{counter-reset: numele;}
	.classes ul ul li{border-left: 1px solid #000;}
	.classes ul ul li:before{ counter-increment: numele;
			 content:counter(numele) ". ";}	
			 
/*******************synthese*************/		
	.synthese{background: rgb(236, 76, 76);/* 117,154,198 */}
	.synthese #contenu{padding-top:20px;}
	
	#listeleve{padding-top:30px;width:196px;z-index: 45;background:rgba(255,255,255,0.5);display:inline-block;  }
		#listeleve h5,#domain div{height:30px;border-bottom:1px solid black;}
		#listeleve h5{background:rgb(255,255,255);vertical-align: middle;}
		#listeleve h5 .awsm{  font-size: 24px;vertical-align: middle;}
	#domain{display:inline-block;white-space: nowrap;margin-left: -3px;}
		#domain section{width:70px;display:inline-block;background:white;text-align: center;cursor:pointer;border-left:1px solid black;margin-top:-20px;}	
		
		#domain h6{height:30px;text-align: center;word-wrap: break-word;hyphens: auto;font-size: 10px;word-break: break-all;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		width: 60px;
		overflow: hidden;
		  -ms-hyphens: auto;
		  -o-hyphens: auto;
		  }
		  .visuel{color:green;  height: 20px; z-index: 50;opacity:0;}
		  #domain section:hover .visuel{opacity:1;-webkit-transition:all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;}
		  .visuel.actif{opacity:1;}
		
		#domain section:hover{opacity:0.8:}
		#domain section div:nth-child(odd),#listeleve h5:nth-child(even){background:rgb(240,240,240);}
			#domain .ouvert1 h6,#domain .ouvert2 h6{background:rgb(216,189,120);}
			#domain article{display:inline-block;}
			#domain article section{}
				#domain article article section{}
		
			#domain span{width:0px;background:rgba(255,255,255,0.2);z-index: 40;position: relative;top:8px;}
			#domain aside{ width: 50px;height: 30px;position: relative;top: -17px;z-index: 20;}
			#domain aside p{background:green;display: inline-block;height: 18px;width: 6px;vertical-align: -16px;margin: 0px 0px 0px 2px;}
		

	
/*******************Correction*************/
.correction,.evaluer{background:rgb(69,231,194);}
	.correction #fleche,.evaluer #fleche{top: 235px;border-right: 11px solid rgb(69,231,194);}
	
#correction section{border:1px solid black;display:inline-block;padding:2px;width: 210px; margin-top:5px;}
	
	#correction .name{text-transform:uppercase;margin-bottom:5px;width:88%;display:inline-block;font-size: 9px;}
	#correction .note{width:10%;display:inline-block;}
		
		.taxo div{display:inline-block;width:52px;text-align:center;}
		.taxo .awsm{font-size: 17px;}
		.taxo h5{font-size:9px;}
		.taxo .apprct,.item{width:100%;text-align:justify;margin-bottom:5px;}
		.apprct{font-size: 12px;margin-top: 5px;}
		.graf{font-size:8px}
		
			.item article{display:inline-block;width:49%;}
				.item  div{display:inline-block;}
				.item .graf{width:9%;}
				.item .libelle{width:88%;max-height: 26px;overflow: hidden;font-size: 9px;}
				
	
/*******************items*************/	
	.items{background: rgb(216,216,216);}
	.items #fleche{top: 332px;border-right: 11px solid rgb(216,216,216);}
	
/*******************new eval*************/		
	
	
	form .titre,form .add{font-size:20px;font-weight:bold;margin:10px 0px;}
	form .add{cursor:pointer;}
	.titre label{width:130px;}
	form h4,input[type="submit"],#creer{display:inline-block;padding: 8px;background:rgb(96,96,96);font-size:20px;color:white;cursor:pointer;}
	input[type="submit"]{float:right;border-radius:0px;margin-right: 50px;cursor:pointer;}
	form section{display:inline-block;border:1px solid black;margin:4px;padding:5px;}
		form section div{margin:8px 0px;}
			form label{width: 240px;display: inline-block;text-align:right;  vertical-align: middle;}

		label+select,label+input{margin-left: 5px;
  vertical-align: middle;}
		 select, input{text-align: center;width:300px;-webkit-transition:all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;border-radius:2px;margin-left:20px;background: rgb(216, 216, 216);border:none;padding: 3px 0px;  }
			select:hover,input:hover,input.actif{box-shadow:0px 0px 5px blue;}
			select option:nth-child(2)[selected^="true"] {background:blue;}	
		select{width:130px;}		
		input[type="number"]{width:50px;}
		input[type="date"]{width:190px;}	
		form .awsm{vertical-align: bottom;margin-left:5px;cursor:pointer;}		
/*******************login*************/
	.login{background: rgb(216,216,216);}
	.login section{border:none;}
	.login select{width:300px;}




/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}